<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/LabMed</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">sinergia</property>
    <mapping resource="modelo/pojo/Area.hbm.xml"/>
    <mapping resource="modelo/pojo/Usuarios.hbm.xml"/>
    <mapping resource="modelo/pojo/Dispositivosmoviles.hbm.xml"/>
    <mapping resource="modelo/pojo/Perfilporpermiso.hbm.xml"/>
    <mapping resource="modelo/pojo/Catalogotipobitacora.hbm.xml"/>
    <mapping resource="modelo/pojo/Bitacora.hbm.xml"/>
    <mapping resource="modelo/pojo/Camposhansa.hbm.xml"/>
    <mapping resource="modelo/pojo/Usuariosporperfil.hbm.xml"/>
    <mapping resource="modelo/pojo/Perfiles.hbm.xml"/>
    <mapping resource="modelo/pojo/Histopatologia.hbm.xml"/>
    <mapping resource="modelo/pojo/Permisos.hbm.xml"/>
    <mapping resource="modelo/pojo/Citologia.hbm.xml"/>
    <mapping resource="modelo/pojo/Variablescitologia.hbm.xml"/>
    <mapping resource="modelo/pojo/Firmasmedicos.hbm.xml"/>
    <mapping resource="modelo/pojo/Fotoshisto.hbm.xml"/>
    <mapping resource="modelo/pojo/Catalogocitologias.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
